.login-form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  padding-bottom: 20px;
}
.login-container {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-website-logo-mobile-image {
  width: 380px;
  height: 380px;
  align-self: flex-end;
}
.login-image {
  display: none;
}
.login-website-logo-desktop-image {
  width: 53px;
  height: 43px;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
}
.input-label {
  margin-bottom: 0px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #475569;
}
.username-input {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.password-input {
  font-size: 14px;
  height: 40px;
  border: 1px solid #d7dfe9;
  background-color: #e2e8f0;
  color: #64748b;
  border-radius: 2px;
  margin-top: 5px;
  padding: 8px 16px 8px 16px;
  outline: none;
}

.login-button {
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  height: 40px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 2px;
  background: #f7931e;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
.logo-heading {
  font-family: DM Sans;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #f7931e;
  margin-top: none;
}
.login-heading {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: #0f172a;
}
@media screen and (max-width: 767px) {
  .login-website-logo-desktop-image {
    display: none;
  }
  .logo-heading {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .login-form-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .form-container {
    width: 456px;
    flex-shrink: 0;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08);
    padding: 64px 48px 64px 48px;
  }
  .login-container {
    width: 60%;
  }
  .login-website-logo-mobile-image {
    display: none;
  }
  .login-image {
    width: 40%;
    flex-shrink: 1;
    height: 100vh;
    display: block;
  }

  .login-heading {
    text-align: center;
    align-self: center;
  }
}
